.button_confirmar{

    -fx-background-color: #1F3352;
    -fx-background-radius: 20px;
    -fx-border-color: #00eeff;
    -fx-border-radius: 20px;
    -fx-text-fill: #00eeff;
}

.button_confirmar:hover{

    -fx-background-color: #00eeff;
    -fx-background-radius: 50;
    -fx-border-color: #00eeff;
    -fx-border-radius: 50;
    -fx-text-fill: #ffffff;
}

.button_cancelar{

    -fx-background-color: #1F3352;
    -fx-background-radius: 20%;
    -fx-border-color: #ff0000;
    -fx-border-radius: 20%;
    -fx-text-fill: #ff0000;
}
.button_cancelar:hover{

    -fx-background-color: #ff0000;
    -fx-background-radius: 20%;
    -fx-border-color: #ff0000;
    -fx-border-radius: 20%;
    -fx-text-fill: #ffffff;
}

.button_criar{

    -fx-background-color: #1F3352;
    -fx-background-radius: 20%;
    -fx-border-color: #00ff00;
    -fx-border-radius: 20%;
    -fx-text-fill: #00ff00;
}
.button_criar:hover{

    -fx-background-color: #00ff00;
    -fx-background-radius: 20%;
    -fx-border-color: #00ff00;
    -fx-border-radius: 20%;
    -fx-text-fill: #ffffff;
}
.text-field {
	-fx-accent: gray;
	-fx-background-color: #ffffff, #1F3352;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-background-radius: 0;
	-fx-text-fill: #ffffff;
}
.text-field:focused {
	-fx-background-color: #28A5A5, #1F3352;
}
.choice-box {
    -fx-background-color: #ffffff, #1F3352;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 50;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-radius: 50;
}
.choice-box > .label { -fx-text-fill: white; }

