.profile-layout{
    -fx-background-color: #13233D;
    -fx-background-radius: 0 0 50 50;

}

.profile-layout2{
    -fx-background-color: #1F3352;
    -fx-background-radius: 0 0 50 50;
}
.banner-layout{
    -fx-background-color: #1055AD;
    -fx-background-radius: 50 50 50 50;

}

.banner-layout2{
    -fx-background-color: #835EEB;
    -fx-background-radius: 50 50 50 50;

}

.button{

    -fx-background-color: #1F3352;
    -fx-background-radius: 50;
    -fx-border-color: #fff;
}
.button2{

    -fx-background-color: #835EEB;
    -fx-background-radius: 50;
}

.background{

     -fx-background-color: #13233D;

}


.trasparent{

    -fx-background-color: rgba(0,0,0,0);

}

.text-field{
    -fx-background-color: #fff;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: #1F3352;
    -fx-border-width: 1px;

}
